<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.eat.mapper.CartMapper">

	<insert id="insert" parameterType="Map">
		INSERT INTO cart(menuid,memid,time)
		VALUES(#{menuid}, #{memid}, now())    
	</insert>
	
	<select id="getAll2" parameterType="Map" resultType="Map">
	 select a.*,typename from gsyb a,gsytype b where id=typeid and gsyb like '%${gsyb}%'
        <!-- 如果按照类型查询 -->
        <if test="typeid!=-1">
        and typeid=#{typeid}
        </if>
   <if test="bdate!=null">
   and gsyd &gt; #{bdate} and gsyd &lt; #{edate}
   </if>
   limit  ${(pageNum-1)*2},2
    </select>
	
	
	<select id="getCart"  resultType="Map">
        SELECT menu.id,pic,name,price,remark  FROM menu,cart  where menu.id=cart.menuid and memid=#{memid} and name  like '%${name}%'				 
    </select>
	
	 <delete id="delete" parameterType="Map">
		delete from cart where menuid=#{menuid}  and memid=#{memid};
	</delete>
    	

</mapper>
